<a href="https://colab.research.google.com/github/saidarshan20/src-colab/blob/main/temp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello wolrd")

hello wolrd

In [6]:
name = input("what is ur name? \n")
print("Hello " + name)

what is ur name?
Sai
Hello Sai

In [7]:
oldAge = input("U age before 2 years: \n")
newAge = int(oldAge) + 2
print (newAge)

U age before 2 years:
19
21

In [10]:
first = input("1st num\n")
sec = input("2nd num\n")

sum = int(first) + int(sec)

print("The sum is: " + str(sum))

1st num
5
2nd num
15
The sum is: 20

In [14]:
#strings
name = "Saidarshan Sahu"
print(name.upper())
print(name.lower())
print(name.find('s'))
print(name.replace("Saidarshan", "StarkByteX"))
print('s' in name)

print(name)

SAIDARSHAN SAHU
saidarshan sahu
6
StarkByteX Sahu
True
Saidarshan Sahu

In [18]:
#arithmetic
print(5 * 2)
print(5 / 2)
print(5 //2)
print(5 % 2)
print(5 ** 2)

#operator precedence
result = 2 + 3 * 5
print(result)

10
2.5
2
1
25
17

In [25]:
#if else
age = int(input())
if age >= 18:
  print("U r an adult.")
  print("U can drive")
elif age < 18 and age > 3:
  print("U r in school lah")
else:
  print("U r a child")

13
U r in school lah

In [28]:
#range
number = range(5)
print(number)
for i in range(5):
  print(i)

range(0, 5)
0
1
2
3
4

In [41]:
#loop
a = 1
while a <= 5:
  spaces = 5 - a
  while spaces > 0:
    print(" ", end = "")
    spaces -= 1
  stars = a
  while stars > 0:
    print("*", end="")
    stars -=1
  print()
  a += 1

b = 5
while b >= 1:
  spaces = 5 - b
  while spaces > 0:
    print(" ", end = "")
    spaces -= 1
  stars = b
  while stars > 0:
    print("*", end="")
    stars -= 1
  print()
  b -= 1

i = 1
while i <= 5:
  print(i * "*")
  i = i +1

j = 5
while j >= 0:
  print(j * "*")
  j = j - 1

    *
   **
  ***
 ****
*****
*****
 ****
  ***
   **
    *
*
**
***
****
*****
*****
****
***
**
*

In [54]:
#list
marks = [97,56,89]
print(marks)
print(marks[0])
print(marks[1])
print(marks[2])

print(marks[-1])
print(marks[-2])
print(marks[-3])

print(marks[0:2])
print(marks[1:3])

marks.append(78)
marks.insert(0, 99)

print(marks)

print(len(marks))

for scores in marks:
  print(scores)

marks.clear()
print(marks)

[97, 56, 89]
97
56
89
89
56
97
[97, 56]
[56, 89]
[99, 97, 56, 89, 78]
5
99
97
56
89
78
[]

In [59]:
#break & continue
students = ["sai", "sahu", "stark", "byte", "x"]

for student in students:
  # if student == "stark":
  #   break;
  if student == "byte":
    continue;
  print(student)

sai
sahu
stark
x

In [64]:
#Tuple
marks = (99, 98, 97, 98, 98 , 98)
print(marks.count(98))
print(marks.index(98))

num = 1, 2, 3 #By default it is a tuple
print(num)

4
1
(1, 2, 3)

In [67]:
#set
marks = {99, 98, 97, 98, 98 , 98}
print(marks)

# print(marks[0]) #index does not exsit in set

for score in marks:
  print(score)

{97, 98, 99}
97
98
99

In [74]:
#dictionary
superhero = {"Tony Stark" : "Ironman", "Bruce Wayne" : "Batman", "Clark Kent" : "Superman"}
print(superhero["Tony Stark"])
print(superhero["Bruce Wayne"])
print(superhero["Clark Kent"])

superhero["Peter Parker"] = "Spiderman";
print(superhero)
print(superhero["Peter Parker"])

del superhero["Peter Parker"]

for key, value in superhero.items():
  print(f"{key} is actually {value}")

Ironman
Batman
Superman
{'Tony Stark': 'Ironman', 'Bruce Wayne': 'Batman', 'Clark Kent': 'Superman', 'Peter Parker': 'Spiderman'}
Spiderman
Tony Stark is actually Ironman
Bruce Wayne is actually Batman
Clark Kent is actually Superman

In [82]:
#function

#inbuilt fun
int()
str()

import math
# print(dir(math))

# from math import sqrt
# from math import *
sqrt(55)


#user fun
def print_sum(fir, sec):
  print(fir + sec)

print_sum(10, 3)

13